*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  min-height: 12.5vh;
}

.flex-item,
.flex-item2 {
  flex: 1 0 auto;
}

.flex-item {
  background: #fccc9c;
}

.flex-item2 {
  background-color: #d48c44;
}
